{% extends "layout.html" %}
{% block contents %}
{% autoescape false %}
<div class="mainWindow">
  <h1>Techniques</h1>
  <div class="techniqueList">
    <ul>
      {% for technique in technique_stats %}
      <li><a href={{url_for("list", techniques=[technique])}}>{{technique}}</a></li>
      <ul>
	{% for project in technique_stats[technique] %}
	<li><a href="/project/{{project['id']}}">{{project['name']}}</a></li>
	{% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </div>
</div>
{% endautoescape %}
{% endblock %}
